# Environment & Sensitive Configs
.env
.env.local
*.env

# Temporary / Scratch / Junk Folders
tmp_kasir2/
tmp/
temp/
cache/
*.log

# IDE & OS Artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db

# Abaikan file gambar hasil upload (Dinamic)
public/assets/images/event-prizes/prize_*
public/assets/qris/qris_outlet_*
public/assets/uploads/products/product_*
